{% extends 'accueil/index.html.twig' %}

{% block title %}Edit Entreprise{% endblock %}

{% block body %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Gestion Entreprise</h3>
        </div>
        <div class="card card-primary">

            <div class="card card-body">
                {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                    {% for message in app.flashes('message') %}
                        <div class="primary">
                            {{ message }}
                        </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ form_row(form.libelle, {'label':'Entreprise ','attr':{'class':'form-control'}}) }}

                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.agrement, {'label':'Agrement ','attr':{'class':'form-control'}}) }}

                    </div>

                    <div class="col-md-3">
                        {{ form_row(form.lieu, {'label':'Situation ','attr':{'class':'form-control'}}) }}

                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.email, {'label':'Email ','attr':{'class':'form-control'}}) }}

                    </div>



                    <div class="col-md-3">
                        {{ form_row(form.contact, {'label':'Contact 1 ','attr':{'class':'form-control'}}) }}

                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.contact1, {'label':'Contact 2 ','attr':{'class':'form-control'}}) }}

                    </div>

                    <div class="col-md-3">
                        {{ form_row(form.contact2, {'label':'Contact 3 ','attr':{'class':'form-control'}}) }}

                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.contact3, {'label':'Contact 4 ','attr':{'class':'form-control'}}) }}

                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.rc, {'label':'RC ','attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.ri, {'label':'RI ','attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.ncc, {'label':'NCC ','attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.brochure2, {'label':'Logo ','attr':{'class':'form-control'}}) }}

                    </div>

                </div>
                <hr style="visibility: hidden" />
                <div class="row"> 
                    <div class="col-md-2"> <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>        </div>
                    <div class="col-md-3"><a href="{{ path('app_entreprise_index') }}" class="btn btn-success">Afficher la liste</a> </div>
                </div> 
                {{ form_end(form) }}

            </div>
        </div>

    </div>
{% endblock %}