{% extends 'base.html.twig' %}

{% block title %}Index Intervention!{% endblock %}

{% block body %}
 <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Liste des Presences</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    <div class="table-responsive">
                      <table class="display table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Num intervention</th>
                            <th>Demande travaux</th>
                            <th>Date Intervention</th>
                            <th>Site</th>
                            <th>Interlocuteur</th>
                            <th>Technicien</th>
                            <th>contact</th>
                            <th style="width: 10%">Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Num intervention</th>
                            <th>Demande travaux</th>
                            <th>Date Intervention</th>
                            <th>Site</th>
                            <th>Interlocuteur</th>
                            <th>Technicien</th>
                            <th>contact</th>
                            <th style="width: 10%">Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
                         {% for presence in presences %}
                        <tr>
                             <td>{{ "%08d"|format(presence['numero'])}}</td>
                             <td>{{ presence['demandeTravaux']}}</td>
                             <td>{{ presence['dateIntervention']|date("d/m/Y")}}</td>
                             <td>{{ presence['site']}}</td>
                             <td>{{ presence['interlocuteur']}}</td>
                             <td>{{ presence['technicienNom']}}</td>
                             <td>{{ presence['contactTechnicien']}}</td>
                              <td>
                              <div class="form-button-action">
                                <button class="btn btn-link btn-primary btn-lg">
                                  <a href="{{ path('app_instrument_edit_presence', {'id': presence['id']})}}" ><i class="fa fa-edit"></i></a>
                                </button> 
                                {% if is_granted('ROLE_ADMIN') %}
                                <button class="btn btn-link btn-danger btn-lg">
                                  <a href="{{ path('app_instrument_presence_delete', {'id': presence['id']})}}" ><i class="fa fa-trash"></i></a>
                                </button>
                                {% endif %}
                              </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}

