{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="row">
              <div class="col-md-12">
              <a href="{{ path('app_user_new')}}"><button class="btn btn-secondary"><span class="btn-label"><i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
  <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
</svg></i></span>Nouvel utilisateur</button></a>
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Liste des Utilisateurs</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                    <div class="table-responsive">
                      <table class="display table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>Contact</th>
                            <th style="width: 10%">Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>Contact</th>
                            <th style="width: 10%">Action</th>                         
                          </tr>
                        </tfoot>
                        <tbody>
                         {% for user in users %}
                        <tr>
                             <td>{{ user.email}}</td>
                             <td>{{ user.nom}}</td>
                             <td>{{ user.contact}}</td>
                             <td>
                              <div class="form-button-action">
                                <button class="btn btn-link btn-primary btn-lg">
                                  <a href="{{ path('app_user_edit',{'id': user.id})}}" ><i class="fa fa-edit"></i></a>
                                </button> 
                                <button class="btn btn-link btn-danger btn-lg">
                                  <a href="{{ path('app_registration_delete',{'id': user.id})}}" ><i class="fa fa-trash"></i></a>
                                </button>
                              </div>
                            </td>
                        </tr>
                         {% endfor %}

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}
