{% extends 'base.html.twig' %}

{% block title %}Controle Justesse{% endblock %}

{% block body %}
<br>
<div class="card card-round">
    <div class="card-header">
      <div class="card-head-row">
        <div class="card-title">Modification d'un contrôle de justesse</div>
      </div>
    </div>
      <div class="card">
        <div class="card-body">
        {{ form_start(form) }}
          <div class="card-title">
            <label for="email2">Code de l'instrument</label>
            {{ form_widget(form.instrument) }}  
          </div>
          <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
          <div class="row row-demo-grid" id="form" name="form">
            <div class="col-sm-4 col-md-2">
                <label for="email2">Point d'essai</label>
                <input type="text" class="form-control" id="pointsdessai" value="{{ pointsdessai }}" name="data[0][pointsdessai]" >
            </div>
            <div class="col-sm-4 col-md-2">
                <label for="password">Valeur nominale en <b>(kg)</b></label>
                <input type="text" class="form-control" id="valeurnominale" value="{{ valeurnominale }}" name="data[0][valeurnominale]">
            </div>
            <div class="col-sm-4 col-md-2">
              <label >Valeur en montée <b>(kg)</b></label>
              <input type="text" class="form-control" id="valeurmonte" value="{{ valeurnominale }}" name="data[0][valeurmonte]" >
            </div>
            <div class="col-sm-4 col-md-2">
              <label >Valeur en descente <b>(kg)</b></label>
                <input type="text" class="form-control" id="valeurdescent" value="{{ valeurdescente }}" name="data[0][valeurdescent]">
            </div>
            <div class="col-sm-4 col-md-2">
              <label for="password">Indication surcharge de sensibilité <b>(kg)</b></label>
              <input type="text" class="form-control" id="IndSurSen" value="{{ indicationsurchage }}" name="data[0][IndSurSen]"  >
            </div> 
            <div class="col-sm-4 col-md-2">
              <label for="password">Ecart relevé</label>
              <input type="text" class="form-control" id="ecartreleve" value="{{ ecartreleve }}" name="data[0][ecartreleve]"  >
            </div>                            
          </div>
        </div>
      </div>
      <div class="form-group mt-3">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
              <a href="{{ path('app_controlejustesse') }}" class="btn btn-danger">Revenir</a>
          </div>
      {{ form_end(form) }}

        </div> 
  </div>


{% endblock %}