{% extends 'base.html.twig' %}

{% block title %}controle de justesse{% endblock %}

{% block body %}
 <div class="row">
              <div class="col-md-12">
              <a href="{{ path('app_controlejustesse_create')}}"><button class="btn btn-secondary"><span class="btn-label"><i class="fa fa-plus"></i></span>Nouveau controle de justesse</button></a>
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Liste des contrôles de justesse</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                 

                    <div class="table-responsive">
                      <table class="display table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>code Instrument</th>                            
                            <th>Points d'essais</th>
                            <th>Valeur nominale</th>
                            <th>valeur montée</th>
                            <th>valeur descente</th>
                            <th>indication surchage</th>
                            <th>ecart relevé</th> 
                            <th style="width: 10%">Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Code instrument</th>                            
                            <th>Points d'essai</th>
                            <th>Valeur nominale</th>
                            <th>Valeur montée</th>
                            <th>Valeur descente</th>
                            <th>Indication surchage</th>
                            <th>Ecart relevé</th>                            
                            <th style="width: 10%">Action</th>                          
                          </tr>
                        </tfoot>
                        <tbody>
                         {% for controlejustesses in controlejustesse %}
                        <tr>
                             <td>{{ controlejustesses.instrument ? controlejustesses.instrument.codeinstrument }}</td>
                             <td>{{ controlejustesses.pointsdessai}}</td>
                             <td>{{ controlejustesses.valeurnominale}}</td>
                             <td>{{ controlejustesses.valeurmonte}}</td>
                             <td>{{ controlejustesses.valeurdescente}}</td>
                             <td>{{ controlejustesses.indicationsurchage}}</td>
                             <td>{{ controlejustesses.ecartreleve}}</td>
                            <td>
                             <div class="form-button-action">
                                <button class="btn btn-link btn-primary btn-lg">
                                  <a href="{{ path('app_controlejustesse_edit', {'id': controlejustesses.id})}}" ><i class="fa fa-edit"></i></a>
                                </button> 
                                <button class="btn btn-link btn-danger btn-lg">
                                  <a href="{{ path('app_controlejustesse_delete', {'id': controlejustesses.id})}}" ><i class="fa fa-trash"></i></a>
                                </button>
                              </div>
                            </td>
                              </tr>
                              {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}

