{% extends 'base.html.twig' %}

{% block title %}Controle fidelite{% endblock %}

{% block body %}
<br>
<div class="card card-round">
    <div class="card-header">
      <div class="card-head-row">
        <div class="card-title">Modification d'un contrôle de fidélité</div>
      </div>
    </div>
      <div class="card">
        <div class="card-body">
        {{ form_start(form) }}
          <div class="card-title">
            <label for="email2">Code de l'instrument</label>
            {{ form_widget(form.instrument) }}  
          </div>
          <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
          <div class="row row-demo-grid" id="form" name="form">
            <div class="col-sm-4 col-md-2">
                <label for="email2">Point d'essai</label>
                <input type="text" class="form-control" id="pointsdessai" value="{{ pointsdessai }}" name="data[0][pointsdessai]" >
            </div>
            <div class="col-sm-4 col-md-2">
                <label for="password">Valeur nominale en <b>(kg)</b></label>
                <input type="text" class="form-control" id="valeurnominale" value="{{ valeurnominale }}" name="data[0][valeurnominale]">
            </div>
            <div class="col-sm-4 col-md-2">
              <label >Indication Lue en <b>(kg)</b></label>
              <input type="text" class="form-control" id="indicationlue" value="{{ indicationlue }}" name="data[0][indicationlue]" >
            </div>
            <div class="col-sm-4 col-md-2">
                <label for="email2">Ecart relevé en <b>(kg)</b></label>
                <input type="text" class="form-control" id="ecartreleve" value="{{ ecartreleve }}" name="data[0][ecartreleve]">
            </div>
            <div class="col-sm-4 col-md-2">
              <label for="password">Ecart maximal en <b>(kg)</b></label>
              <input type="text" class="form-control" id="ecartmaximalreleve" value="{{ ecartmaximalreleve }}" name="data[0][ecartmaximalreleve]"  >
            </div>                
          </div>
          <div class="row row-demo-grid" id="form2" name="form2">
          </div>
        </div>
      </div>
      <div class="form-group mt-3">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success">{{ button_label|default('Modifier') }}</button>
              <a href="{{ path('app_controlefidelite') }}" class="btn btn-danger">Revenir</a>
          </div>
      {{ form_end(form) }}

        </div> 
  </div>


{% endblock %}