{% extends 'base.html.twig' %}

{% block title %}controlefidelite{% endblock %}

{% block body %}
 <div class="row">
              <div class="col-md-12">
              <a href="{{ path('app_controlefidelite_create')}}"><button id="addButton" class="btn btn-secondary"><span class="btn-label"><i class="fa fa-plus"></i></span>Ajouter des contrôles de fidélité</button></a>
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center">
                      <h4 class="card-title">Liste des controles fidelite</h4>
                    </div>
                  </div>
                  <div class="card-body">
                    <!-- Modal -->
                 

                    <div class="table-responsive">
                      <table class="display table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Code Instrument</th>
                            <th>points d'essai</th>
                            <th>Valeur nominale</th>
                            <th>indication</th>
                            <th>ecart releve</th>
                            <th>ecart.max releve</th> 
                            <th style="width: 10%">Action</th>  
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Code Instrument</th>
                            <th>Points d'essai</th>
                            <th>Valeur nominale</th>
                            <th>Indication</th>
                            <th>Ecart releve</th>
                            <th>Ecart.max releve</th>                            
                            <th style="width: 10%">Action</th>                         
                          </tr>
                        </tfoot>
                        <tbody>
                         {% for controlefidelites in controlefidelite %}
                        <tr>
                             <td>{{ controlefidelites.instrument ? controlefidelites.instrument.codeinstrument }}</td>
                             <td>{{ controlefidelites.pointsdessai}}</td>
                             <td>{{ controlefidelites.valeurnominale}}</td>
                             <td>{{ controlefidelites.indicationlue}}</td>
                             <td>{{ controlefidelites.ecartreleve	}}</td>
                             <td>{{ controlefidelites.ecartmaximalreleve}}</td>
                             <td>
                              <div class="form-button-action">
                                <button class="btn btn-link btn-primary btn-lg">
                                  <a href="{{ path('app_controlefidelite_edit', {'id': controlefidelites.id})}}" ><i class="fa fa-edit"></i></a>
                                </button> 
                                <button class="btn btn-link btn-danger btn-lg">
                                <a href="{{ path('app_controlefidelite_delete', {'id': controlefidelites.id})}}" ><i class="fa fa-trash"></i></a>
                                </button>
                              </div>
                            </td>
                        </tr>
                           {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}

