{% extends 'base.html.twig' %}

{% block title %}Hello InstrumentController!{% endblock %}

{% block body %}  
<br>
<div class="card card-round">
    <div class="card-header">
      <div class="card-head-row">
        <div class="card-title">Formulaire d'ajout d'un instrument</div>
      </div>
    </div>
  <div class="card-body">
      <div class="row">
          <div class="col-md-6 col-lg-4">
            {{ form_start(form) }}
            <div class="form-group">
              <label>Client</label>
              {{ form_widget(form.client) }}
            </div>
            <div class="form-group">
              <label for="email2">Designation</label>
              {{ form_widget(form.designation) }}
            </div>
            <div class="form-group">
              <label for="password">Marque</label>
                {{ form_widget(form.marque) }}
            </div>
            <div class="form-group form-inline">
              <label class="col-md-3 col-form-label">Modèle</label>
                  {{ form_widget(form.modele) }}
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="form-group">
              <label >Type d'instrument</label>
              {{ form_widget(form.typeinstrument) }}
            </div>
            <div class="form-group">
              <label >N° de série</label>
              {{ form_widget(form.numeroserie) }}
            </div>

            <div class="form-group">
              <label for="password">Portée max</label>
                {{ form_widget(form.porteemax) }}

            </div>

            <div class="form-group form-inline">
              <label class="col-md-3 col-form-label">Portée mini</label>
                  {{ form_widget(form.porteemini) }}
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="form-group">
              <label>Classe de précision</label>
              {{ form_widget(form.classeprecision) }}
            </div>
            <div class="form-group">
              <label>Echelon de vérification</label>
                {{ form_widget(form.echelonverification) }}
            </div>
            <div class="form-group">
              <label>Tolerance en +/- <strong>{(kg)}</strong></label>
                {{ form_widget(form.tolerance) }}
            </div> 
          </div>
          <div class="form-group mt-3">
            <div class="col-sm- offset-5 col-sm-10">
              <button type="submit" class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
                        {{ form_end(form) }}                                       
              <a href="{{ path('app_instrument') }}" class="btn btn-danger">Revenir</a>
            </div>
          </div> 
      </div> 
  </div>
</div>

{% endblock %}
