<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Gestion de Vérification</title>

    {% block stylesheets %}
      <!-- Core CSS Files -->
      <link rel="stylesheet" href="{{ asset('template/css/bootstrap.min.css') }}" />
      <link rel="stylesheet" href="{{ asset('template/css/plugins.min.css') }}" />
      
      <!-- Application Specific CSS -->
      <link rel="stylesheet" href="{{ asset('template/css/kaiadmin.min.css') }}" />

      <!-- Demo CSS (for demonstration purposes only, avoid in production) -->
      <link rel="stylesheet" href="{{ asset('template/css/demo.css') }}" />

      <!-- Favicon -->
      <link rel="icon" href="{{ asset('template/img/kaiadmin/favicon.ico') }}" type="image/x-icon" />
    {% endblock %}
  </head>
  
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="{{ path('app_accueil') }}" class="logo">
              <img src="{{ asset('template/img/kaiadmin/logo_light.svg') }}" alt="navbar brand" class="navbar-brand" height="20" />
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
          </div>
          <!-- End Logo Header -->
        </div>
        
        <!-- Sidebar Wrapper -->
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
            <ul class="nav nav-secondary">
              <li class="nav-item active">
                <a href="{{ path('app_accueil') }}">
                  <i class="fas fa-home"></i>
                  <p>Accueil</p>
                </a>
              </li>

              <!-- Sidebar Section -->
              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">Components</h4>
              </li>
              
              <!-- Objet Menu -->
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#objet">
                  <i class="bi bi-box"></i>
                  <p>Objet</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="objet">
                  <ul>
                    <li><a href="{{ path('app_instrument') }}"><i class="fas fa-layer-group"></i><p>Instrument</p></a></li>
                    <li><a href="{{ path('app_tolerance') }}"><i class="fas fa-layer-group"></i><p>Tolérance</p></a></li>
                    <li><a href="{{ path('app_designation') }}"><i class="fas fa-layer-group"></i><p>Désignation</p></a></li>
                    <li><a href="{{ path('app_marque') }}"><i class="fas fa-layer-group"></i><p>Marques</p></a></li>
                    <li><a href="{{ path('app_modele') }}"><i class="fas fa-layer-group"></i><p>Modèle</p></a></li>
                  </ul>
                </div>
              </li>

              <!-- Clients Menu -->
              <li class="nav-item">
                <a href="{{ path('app_client') }}">
                  <i class="bi bi-person-fill"></i>
                  <p>Clients</p>
                </a>
              </li>

              <!-- Certification Menu -->
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#sidebarLayouts">
                  <i class="fas fa-file"></i>
                  <p>Certification</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="sidebarLayouts">
                  <ul class="nav nav-collapse">
                    <li><a href="{{ path('app_certification') }}"><span class="sub-item">Certificat de vérification</span></a></li>
                    <li><a href="{{ path('app_conditionsetalonnage') }}"><span class="sub-item">Conditions d'étalonnage</span></a></li>
                  </ul>
                </div>
              </li>

              <!-- Contrôles Menu -->
              <li class="nav-item">
                <a data-bs-toggle="collapse" href="#submenu">
                  <i class="bi bi-wrench-adjustable-circle-fill"></i>
                  <p>Contrôles</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="submenu">
                  <ul class="nav nav-collapse">
                    <li><a href="{{ path('app_controlefidelite') }}"><span class="fas fa-bars">Contrôle de fidélité</span></a></li>
                    <li><a href="{{ path('app_controlejustesse') }}"><span class="fas fa-bars">Contrôle de justesse</span></a></li>
                    <li><a href="{{ path('app_controledexcentration') }}"><span class="fas fa-bars">Contrôle d'excentration</span></a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Sidebar Wrapper -->
      </div>
      <!-- End Sidebar -->

      <!-- Main Panel -->
      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
              <a href="{{ path('app_accueil') }}" class="logo">
                <img src="{{ asset('template/img/kaiadmin/logo_light.svg') }}" alt="navbar brand" class="navbar-brand" height="20" />
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar"><i class="gg-menu-right"></i></button>
                <button class="btn btn-toggle sidenav-toggler"><i class="gg-menu-left"></i></button>
              </div>
              <button class="topbar-toggler more"><i class="gg-more-vertical-alt"></i></button>
            </div>
            <!-- End Logo Header -->
          </div>
        </div>
      </div>
      <!-- End Main Panel -->
    </div>
  

          <!-- Navbar Header -->
<nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <!-- Search Bar (visible on desktop) -->
    <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="submit" class="btn btn-search pe-1" aria-label="Search">
            <i class="fa fa-search search-icon"></i>
          </button>
        </div>
        <input type="text" placeholder="Search ..." class="form-control" />
      </div>
    </nav>

    <!-- Navbar Icons -->
    <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
      
      <!-- Mobile Search Icon -->
      <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-label="Search" aria-expanded="false">
          <i class="fa fa-search"></i>
        </a>
        <ul class="dropdown-menu dropdown-search animated fadeIn">
          <form class="navbar-left navbar-form nav-search">
            <div class="input-group">
              <input type="text" placeholder="Search ..." class="form-control" />
            </div>
          </form>
        </ul>
      </li>

      <!-- Messages Dropdown -->
      <li class="nav-item topbar-icon dropdown hidden-caret">
        <a class="nav-link dropdown-toggle" href="#" id="messageDropdown" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Messages">
          <i class="fa fa-envelope"></i>
        </a>
        <ul class="dropdown-menu messages-notif-box animated fadeIn" aria-labelledby="messageDropdown">
          <li>
            <div class="dropdown-title d-flex justify-content-between align-items-center">
              Messages
              <a href="#" class="small">Mark all as read</a>
            </div>
          </li>
          <li>
            <div class="message-notif-scroll scrollbar-outer">
              <div class="notif-center">
                <a href="#">
                  <div class="notif-img">
                    <img src="{{ asset('template/img/jm_denis.jpg') }}" alt="Profile Image" />
                  </div>
                  <div class="notif-content">
                    <span class="subject">Jimmy Denis</span>
                    <span class="block"> How are you? </span>
                    <span class="time">5 minutes ago</span>
                  </div>
                </a>
                <!-- Add additional messages here -->
              </div>
            </div>
          </li>
          <li>
            <a class="see-all" href="javascript:void(0);">See all messages<i class="fa fa-angle-right"></i></a>
          </li>
        </ul>
      </li>

      <!-- Notifications Dropdown -->
      <li class="nav-item topbar-icon dropdown hidden-caret">
        <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Notifications">
          <i class="fa fa-bell"></i>
          <span class="notification">4</span>
        </a>
        <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
          <li>
            <div class="dropdown-title">You have 4 new notifications</div>
          </li>
          <li>
            <div class="notif-scroll scrollbar-outer">
              <div class="notif-center">
                <a href="#">
                  <div class="notif-icon notif-primary"><i class="fa fa-user-plus"></i></div>
                  <div class="notif-content">
                    <span class="block">New user registered</span>
                    <span class="time">5 minutes ago</span>
                  </div>
                </a>
                <!-- Add additional notifications here -->
              </div>
            </div>
          </li>
          <li>
            <a class="see-all" href="javascript:void(0);">See all notifications<i class="fa fa-angle-right"></i></a>
          </li>
        </ul>
      </li>

      <!-- Quick Actions Dropdown -->
      <li class="nav-item topbar-icon dropdown hidden-caret">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Quick Actions">
          <i class="fas fa-layer-group"></i>
        </a>
        <div class="dropdown-menu quick-actions animated fadeIn">
          <div class="quick-actions-header">
            <span class="title mb-1">Quick Actions</span>
            <span class="subtitle op-7">Shortcuts</span>
          </div>
          <div class="quick-actions-scroll scrollbar-outer">
            <div class="quick-actions-items">
              <div class="row m-0">
                <a class="col-6 col-md-4 p-0" href="#">
                  <div class="quick-actions-item">
                    <div class="avatar-item bg-danger rounded-circle">
                      <i class="far fa-calendar-alt"></i>
                    </div>
                    <span class="text">Calendar</span>
                  </div>
                </a>
                <a class="col-6 col-md-4 p-0" href="#">
                  <div class="quick-actions-item">
                    <div class="avatar-item bg-warning rounded-circle">
                      <i class="fas fa-map"></i>
                    </div>
                    <span class="text">Maps</span>
                  </div>
                </a>
                <!-- Add more quick actions as needed -->
              </div>
            </div>
          </div>
        </div>
      </li>

                <li class="nav-item topbar-user dropdown hidden-caret">  
  <a  
    class="dropdown-toggle profile-pic"  
    data-bs-toggle="dropdown"  
    href="#"  
    aria-expanded="false"  
  >  
    <div class="avatar-sm">  
      <img src="img/profile.jpg" alt="..." class="avatar-img rounded-circle" />  
    </div>  
    <span class="profile-username">  
      <span class="op-7">Hi,</span>  
      <span class="fw-bold">Hizrian</span>  
    </span>  
  </a>  
  <ul class="dropdown-menu dropdown-user animated fadeIn">  
    <div class="dropdown-user-scroll scrollbar-outer">  
      <li>  
        <div class="user-box">  
          <div class="avatar-lg">  
            <img src="img/profile.jpg" alt="image profile" class="avatar-img rounded" />  
          </div>  
          <div class="u-text">  
            <h4>Hizrian</h4>  
            <p class="text-muted">hello@example.com</p>  
            <a href="profile.html" class="btn btn-xs btn-secondary btn-sm">View Profile</a>  
          </div>  
        </div>  
      </li>  
      <li>  
        <div class="dropdown-divider"></div>  
        <a class="dropdown-item" href="#">My Profile</a>  
        <a class="dropdown-item" href="#">My Balance</a>  
        <a class="dropdown-item" href="#">Inbox</a>  
        <div class="dropdown-divider"></div>  
        <a class="dropdown-item" href="#">Account Setting</a>  
        <div class="dropdown-divider"></div>  
        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>  
      </li>  
    </div>  
  </ul>  
</li>  
</ul>  
</div>  
</nav>  
<!-- End Navbar -->  
</div>  

<div class="container">  
  <div class="page-inner">  
    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">  
    </div>  
    {% block body %}{% endblock %}  

    <!-- Custom template | don't include it in your project! -->  
    <div class="custom-template">  
      <div class="title">Settings</div>  
      <div class="custom-content">  
        <div class="switcher">  
          <div class="switch-block">  
            <h4>Logo Header</h4>  
            <div class="btnSwitch">  
              <button type="button" class="selected changeLogoHeaderColor" data-color="dark"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="blue"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="purple"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="green"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="orange"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="red"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="white"></button>  
              <br/>  
              <button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="green2"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>  
              <button type="button" class="changeLogoHeaderColor" data-color="red2"></button>  
            </div>  
          </div>  
<div class="switch-block">  
  <h4>Navbar Header</h4>  
  <div class="btnSwitch">  
    <button type="button" class="changeTopBarColor" data-color="dark"></button>  
    <button type="button" class="changeTopBarColor" data-color="blue"></button>  
    <button type="button" class="changeTopBarColor" data-color="purple"></button>  
    <button type="button" class="changeTopBarColor" data-color="light-blue"></button>  
    <button type="button" class="changeTopBarColor" data-color="green"></button>  
    <button type="button" class="changeTopBarColor" data-color="orange"></button>  
    <button type="button" class="changeTopBarColor" data-color="red"></button>  
  </div>  
</div>  
 <div class="switch-block">  
            <h4>Sidebar</h4>  
            <div class="btnSwitch">  
              <button type="button" class="changeSideBarColor" data-color="white"></button>  
              <button type="button" class="selected changeSideBarColor" data-color="dark"></button>  
              <button type="button" class="changeSideBarColor" data-color="dark2"></button>  
            </div>  
          </div>  
        </div>  
      </div>  
    </div>  
    <!-- End Custom template -->  
  </div>  
</div>  

{% block javascripts %}  
<!-- Fonts and Icons -->  
<script src="{{ asset('template/js/plugin/webfont/webfont.min.js') }}"></script>  
<script>  
  WebFont.load({  
    google: { families: ["Public Sans:300,400,500,600,700"] },  
    custom: {  
      families: [  
        "Font Awesome 5 Solid",  
        "Font Awesome 5 Regular",  
        "Font Awesome 5 Brands",  
        "simple-line-icons",  
      ],  
      urls: ["{{ asset('template/css/fonts.min.css') }}"],  
    },  
    active: function () {  
      sessionStorage.fonts = true;  
    },  
  });  
</script>  

<!-- Core JS Files -->  
<script src="{{ asset('template/js/core/jquery-3.7.1.min.js') }}"></script>  
<script src="{{ asset('template/js/core/popper.min.js') }}"></script>  
<script src="{{ asset('template/js/core/bootstrap.min.js') }}"></script>  

<!-- Plugin JS Files -->  
<script src="{{ asset('template/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>  
<script src="{{ asset('template/js/plugin/chart.js/chart.min.js') }}"></script>  
<script src="{{ asset('template/js/plugin/jquery.sparkline/jquery.sparkline.min.js') }}"></script>  
<script src="{{ asset('template/js/plugin/chart-circle/circles.min.js') }}"></script>  
<script src="{{ asset('template/js/plugin/datatables/datatables.min.js') }}"></script>  
<script src="{{ asset('template/js/plugin/bootstrap-notify/bootstrap-notify.min.js') }}"></script>  
<script src="{{ asset('template/js/plugin/jsvectormap/jsvectormap.min.js') }}"></script>  
<script src="{{ asset('template/js/plugin/jsvectormap/world.js') }}"></script>  
<script src="{{ asset('template/js/plugin/sweetalert/sweetalert.min.js') }}"></script>  

<!-- Application Core JS -->  
<script src="{{ asset('template/js/kaiadmin.min.js') }}"></script>  

<!-- Demo and Setting JS (for demo purposes only, avoid in production) -->  
<script src="{{ asset('template/js/setting-demo.js') }}"></script>  
<script src="{{ asset('template/js/demo.js') }}"></script>  

<!-- Inline Chart Initialization Scripts -->  
<script>  
  $(document).ready(function() {  
    $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {  
      type: "line",  
      height: "70",  
      width: "100%",  
      lineWidth: "2",  
      lineColor: "#177dff",  
      fillColor: "rgba(23, 125, 255, 0.14)",  
    });  

    $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {  
      type: "line",  
      height: "70",  
      width: "100%",  
      lineWidth: "2",  
      lineColor: "#f3545d",  
      fillColor: "rgba(243, 84, 93, .14)",  
    });  

    $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {  
      type: "line",  
      height: "70",  
      width: "100%",  
      lineWidth: "2",  
      lineColor: "#ffa534",  
      fillColor: "rgba(255, 165, 52, .14)",  
    });  
  });  
</script>  
{% endblock %}  

</body>  
</html>  