{% extends 'base.html.twig' %}

{% block title %}designation{% endblock %}

{% block body %}  
<br>
<div class="card card-round">
    <div class="card-header">
      <div class="card-head-row">
        <div class="card-title">Formulaire d'ajout d'une désignation</div>
      </div>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
      <div class="row">
        <div class="col-md-6 offset-4 col-lg-4">
          <div class="form-group">
            <label >Libelle</label>
            {{ form_widget(form.libelle) }}
          </div>
        </div>                      
        <div class="form-group mt-3">
          <div class="col-sm col-sm-10" style="margin-left: 40%;">
              <button type="submit" class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
              <a href="{{ path('app_designation') }}" class="btn btn-danger">Revenir</a>
          </div>
        </div> 
      </div>
        {{ form_end(form) }}    
    </div>                                   
</div>
{% endblock %}
